ul{
  font-family:'Roboto', sans-serif;
  list-style-type: none;
  text-decoration:none;
  text-transform:lowercase;
  color: maroon;
  font-size:26px;
  font-weight:bold;
  letter-spacing:2px;
}
a{
  font-family:'Roboto', sans-serif;
  text-decoration:none;
  text-transform:lowercase;
  color: maroon;
  letter-spacing: 2px;
}
